#x
{
  background-color: white;
}

.nav-link:hover
{
  background-color: aquamarine;
}

.nav-link:active {
  background-color: yellow;
}

#header
{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 
{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color:black;
}

#header .brand-name
{
  color: blue;
}

#header h2 
{
  color:cadetblue;
  font-size: 24px;
}

#header .btn-outline-success
{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  translate: 0.55;
  color: cadetblue;
  border: 2px solid steelblue;
  text-decoration: none;
}

#header .btn-outline-success:hover
{
  background:cadetblue;
  color: white;
}

.header-img
{
  text-align: right;
}

.card-img-top
{
  width: 200px;
  height: 175px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: black;
  text-align: center;
}